#OS junk files
[Tt]humbs.db
*.DS_Store

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#monodroid private beta
monodroid*.msi
/CompiledContent/Android/IgnoreMe.dll
/CompiledContent/OSX/IgnoreMe.dll
/CompiledContent/Windows8/IgnoreMe.dll
/CompiledContent/Windows/IgnoreMe.dll
*.cachefile
*.dll
*.VC.db
*.VC.opendb

#IDE stuff
.idea
